.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1.5rem 4rem;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--primary-bg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 99;
  transition: 0.3s ease-out;
  &.dark {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
  }
  &.top {
    box-shadow: unset;
  }
  .logo {
    height: 3rem;
  }
  .nav {
    display: flex;
    align-items: center;
    .link {
      margin: 0 2rem;
    }
  }
}
.download {
  border: 0.1rem solid var(--accent-text);
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding: 0.4rem 1rem;
  img {
    height: 1.5rem;
    margin-left: 1rem;
  }
}