.socials {
  display: flex;
  align-items: center;
  .social {
    margin: 0 0.7rem;
    padding: 0.3rem;
    background-color: #8ae6dd2d;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 850px) {
      padding: 0.4rem;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .icon {
      height: 2rem;
      width: auto;
      @media (max-width: 850px) {
        height: 3rem;
      }
    }
  }
}
